<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ol.ko.docshortcut">

    <application>
        <!--let it live here for now-->
        <activity
            android:name="ol.ko.docshortcut.TestActivity">
        </activity>
    </application>

</manifest>